# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VulkanPong/.vs/VulkanPong/v16/Browse.VC.opendb
VulkanPong/.vs/VulkanPong/v16/Browse.VC.db-wal
VulkanPong/.vs/VulkanPong/v16/Browse.VC.db-shm
VulkanPong/.vs/VulkanPong/v16/Browse.VC.db
VulkanPong/.vs/VulkanPong/v16/.suo