# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VulkanPong/.vs/VulkanPong/v16/Browse.VC.opendb
VulkanPong/.vs/VulkanPong/v16/Browse.VC.db-wal
VulkanPong/.vs/VulkanPong/v16/Browse.VC.db-shm
VulkanPong/.vs/VulkanPong/v16/Browse.VC.db
VulkanPong/.vs/VulkanPong/v16/.suo
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/1190a5591d503d2a/PCH.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/127c26ef076e4688/PONGAPPLICATION.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/170513dfde514ef6/VULKANENGINE.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/35d39be20a8ecf5c/PONGAPPLICATION_PRIVATE.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/4fa4a4b7de8d868b/PONGAPPLICATION_LOWLEVEL.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/50b161a97754f183/MAIN.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/6005d3d7132e4c2c/APPOBJECT.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/680d53bc4a6beca5/PONGAPPLICATION_HIGHLEVEL.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/b263ccba2117d293/PONGAPPLICATION_MIDLEVEL.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/e0e1b29a7a9f1322/PONGAPPLICATION_PUBLIC.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/e61a1e9f736712d3/VULKANENGINE.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/f9e326330b63d096/DEBUG.ipch
VulkanPong/.vs/VulkanPong/v16/ipch/AutoPCH/fdb4ff9557572411/VERTEX.ipch
VulkanPong/.vs/VulkanPong/v16/TestStore/0/testlog.manifest
VulkanPong/.vs/VulkanPong/v16/TestStore/0/000.testlog
VulkanPong/.vs/VulkanPong/v16/Browse.VC.db
VulkanPong/.vs/VulkanPong/v16/.suo
